<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css">
  

</head>
<body>
  <h1>Home Page</h1>
  <ul class="nav-bar">
    <li><a href="/">Inicio</a></li>
    <li><a href="contacto">Contacto</a></li>
  </ul>
  <img src="/images/node-js.jpg" alt="node" width="400" class="logo-node">
  <p>Este es el index de la aplicacion</p>
  <p class="parrafo-especial">Lorem, ipsum, <strong>un texto en negrita</strong> dolor sit amet consectetur adipisicing elit. Dolore corporis expedita voluptas est, rerum, veniam eveniet adipisci fugiat, aut vel qui doloremque labore quae? Culpa quis vel voluptatum officia odit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate ea ducimus excepturi illum harum ut. Deserunt eaque suscipit iure numquam architecto sapiente ea nostrum, excepturi soluta voluptatibus qui ipsa quaerat!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo error veritatis similique, mollitia qui aperiam eius laborum! Corrupti id, recusandae molestias laborum quasi porro quia, ex amet architecto consectetur sapiente.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat enim necessitatibus molestias qui quia libero unde odio facilis voluptatum, nostrum at culpa optio repellendus natus aut, neque provident, nihil minima!</p>
  <script src="/js/js-front.js"></script>
  
</body>
</html>